<!--Block main-->
<div class="_customer-info">
    <!--Slider-->
    <style>
        @import url(//stpulscen.ru/assets/custom_assets/swiper.min.css);
        @import url(//stpulscen.ru/assets/custom_assets/megasite_slider.min.css);
        .flat-skin-block.with-bottom:nth-of-type(3) {
            padding-left: 10px;
            padding-right: 10px;
            max-width: 1227px;
            margin: 0 auto;

        }
        ._customer-slider {
            margin: 0 auto 60px auto;
            max-width: 1227px;
        }
        .flat-skin-block.with-bottom:nth-of-type(3) ._customer-slider {
            margin: 0 auto 40px auto;
        }
        ._customer-info {
            max-width: 1227px;
            margin: 0 auto;
        }
        ._customer-info ._customer-info-slider {
            padding-left: 40px;
            padding-right: 40px;
            box-sizing: border-box;

        }
        ._customer-info ._customer-slide__item {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            height: 139px;
            border-radius: 10px;
            border: 1px solid #dedede;
            background-color: #ffffff;
            margin-top: 20px;
            max-width: 237px;
        }
        ._customer-info ._customer-slide__item:hover {
            box-shadow: 0 10px 20px #e63e38;
            cursor: pointer;
        }
        ._customer-slide__item-link {
            text-decoration: none;
            width: 100%;
            height: 100%;
        }
        ._customer-slide__item-img {
            margin: 10px 10px 20px 10px;
            height: 78px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
        }
        ._customer-slide__item-name {
            color: #333333;
            font-family: Roboto, sans-serif;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 21px;
            text-align: center;
            margin: 0 10px 10px 10px;
        }
        ._customer-info-slider .swiper-container {
            height: 200px;
            width: 1067px;
            padding-left: 20px;
            padding-right: 20px;
        }

        @media (max-width: 1124px) {
            ._customer-info-slider .swiper-container {
                max-width: 1067px;
                width: 100%;
            }
        }

        ._customer-info ._customer-info__ttl {
            margin: 0 auto 10px auto;
            color: #333333;
            font-family: Roboto, sans-serif;
            font-size: 24px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 36px;
            text-align: left;
            text-transform: uppercase;
            max-width: 1146px;
            width: 100%;
        }
        ._customer-info ._customer-slider .swiper-button-prev,
        ._customer-info ._customer-slider .swiper-button-next {
            opacity: 1;
            width: 44px;
            height: 44px;
            background: transparent;
            transition: all 0.2s;
            top: calc(50% + 10px);
        }
        ._customer-info ._customer-slider .swiper-button-prev::before,
        ._customer-info ._customer-slider .swiper-button-next::before {
            background: url('/system/ckeditor_assets/pictures/228765/content_arrow.png') 50%/contain no-repeat;
            width: 44px;
            height: 44px;
            top: calc((109% - 44px) / 2);
            left: calc((50% - 24px) / 2);
        }
        ._customer-info ._customer-slider .swiper-button-prev:hover,
        ._customer-info ._customer-slider .swiper-button-next:hover {
            background: #f2f2f2;
            width: 44px;
        }
        ._customer-info ._customer-slider .swiper-button-prev:hover:before,
        ._customer-info ._customer-slider .swiper-button-next:hover:before {
            background: url('/system/ckeditor_assets/pictures/228767/content_arrow-hov.png') 50%/contain no-repeat;
        }
    </style>
    <script src="//stpulscen.ru/assets/custom_assets/swiper.min.js"></script>
    <!--end Slider-->
    <div class="_customer-slider">
        <div class="_customer-info__ttl">Организации, с которыми работаем:</div>
        <div class="_customer-info-slider">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="_customer-slide__item">
                            <a class="_customer-slide__item-link" href="" target=”_blank”>
                                <div class="_customer-slide__item-img" >
                                    <img src="/system/ckeditor_assets/pictures/236604/content_partner_1.png" alt='ОАО "ГУБАХИНСКИЙ КОКС"'>
                                </div>
                                <p class="_customer-slide__item-name">ОАО "ГУБАХИНСКИЙ КОКС"</p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="_customer-slide__item">
                            <a class="_customer-slide__item-link" href="" target=”_blank”>
                                <div class="_customer-slide__item-img" >
                                   <img  src="/system/ckeditor_assets/pictures/236615/content_partner_2.png" alt='ООО "ЛУКОЙЛ-Пермнефтепродукт"'>
                                </div>
                                <p class="_customer-slide__item-name">ООО "ЛУКОЙЛ-Пермнефтепродукт"</p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="_customer-slide__item">
                            <a class="_customer-slide__item-link" href="" target=”_blank”>
                                <div class="_customer-slide__item-img" >
                                   <img  src="/system/ckeditor_assets/pictures/236616/content_partner_3.png" alt='ООО "ЛЫСЬВАНЕФТЕМАШ"'>
                                </div>
                                <p class="_customer-slide__item-name">ООО "ЛЫСЬВАНЕФТЕМАШ"</p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="_customer-slide__item">
                            <a class="_customer-slide__item-link" href="" target=”_blank”>
                                <div class="_customer-slide__item-img" >
                                   <img  src="/system/ckeditor_assets/pictures/236617/content_partner_4.png" alt='АО "НОВОМЕТ-ПЕРМЬ"'>
                                </div>
                                <p class="_customer-slide__item-name">АО "НОВОМЕТ-ПЕРМЬ"</p>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="_customer-slide__item">
                            <a class="_customer-slide__item-link" href="" target=”_blank”>
                                <div class="_customer-slide__item-img" >
                                    <img  src="/system/ckeditor_assets/pictures/236616/content_partner_3.png" alt='ООО "ЛЫСЬВАНЕФТЕМАШ"'>
                                </div>
                                <p class="_customer-slide__item-name">ООО "ЛЫСЬВАНЕФТЕМАШ"</p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="_customer-slide__item">
                            <a class="_customer-slide__item-link" href="" target=”_blank”>
                                <div class="_customer-slide__item-img" >
                                    <img  src="/system/ckeditor_assets/pictures/236617/content_partner_4.png" alt='АО "НОВОМЕТ-ПЕРМЬ"'>
                                </div>
                                <p class="_customer-slide__item-name">АО "НОВОМЕТ-ПЕРМЬ"</p>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var sliderInfo = new Swiper('._customer-info .swiper-container', {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        loopedSlides: 12,
        grabCursor: true,
        mousewheel: true,
        keyboard: {
            enabled: true,
        },
        autoplay: {
            delay: 4000,
        },
        pagination: {
            el: '._customer-info ._customer-slider .swiper-pagination',
            clickable: true,
        },
        navigation: {
            prevEl: '._customer-info ._customer-slider .swiper-button-prev',
            nextEl: '._customer-info ._customer-slider .swiper-button-next',
        },
        breakpoints: {
            600: {
                slidesPerView: 2,
            },
            768: {
                slidesPerView: 3,
            },
            992: {
                slidesPerView: 3,
            },
            1020: {
                slidesPerView: 3,
            },
            1212: {
                slidesPerView: 4,
            }
        }
    });
</script>
<!--end Block main-->
