<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
<style>
	#company-content-wrapper {
		max-width: 100% !important;
	}

	._customer-catalog_styled .company-content {
		max-width: 1340px;
		padding: 15px 10px 80px 10px;
		box-sizing: border-box;
		margin: 0 auto;
	}

	._customer-catalog_styled .page-content {
		position: relative;
		z-index: 1;
	}

	._customer-catalog_styled .company-listing-description {
		padding-top: 50px;
	}

	#products-list .company-product-listing {
		margin-bottom: 20px !important;
	}

	._customer-catalog_styled .sb-menu .search-form,
	._customer-catalog_styled .mcm-item,
	._customer-catalog_styled .breadcrumbs-slider-wrapper,
	._customer-catalog_styled .ccc-2 .company-header,
	._customer-catalog_styled .product-groups,
	._customer-catalog_styled .catalog-html-block,
	._customer-catalog_styled .company-listing-switcher__sorting,
	._customer-catalog_styled .horizontal-traits {
		display: none;
	}

	.company-first-column__item_rubricator {
		display: list-item;
	}

	._customer-catalog_styled .company-content__column-first {
		width: 295px;
	}

	.company-first-column__item:first-child {
		display: none;
	}

	._customer-catalog_styled .company-product-listing__gallery-title {
		color: #000101 !important;
		font-family: Roboto, sans-serif !important;
		font-size: 24px !important;
		font-weight: 500 !important;
		line-height: 1.2 !important;
		margin-top: 0 !important;
		padding-bottom: 55px !important;
		text-transform: none !important;
		position: relative !important;
		z-index: 1;
		text-transform: uppercase !important;
		margin-bottom: 7px;
	}

	._customer-catalog_styled .company-product-listing__gallery-title:after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		background-color: #e0e0e0;
		position: absolute;
		bottom: 35px;
		left: 0;
	}

	._customer-catalog_styled .company-listing-switcher__style-list li {
		width: 40px !important;
		height: 40px !important;
		border-radius: 5px !important;
		background: none !important;
		background-color: #e63e38 !important;
		transition: 0.3s all ease !important;
		position: relative;
	}

	._customer-catalog_styled .company-listing-switcher__style-list li:hover {
		opacity: 0.85 !important;
	}

	.company-listing-switcher__style-item-button {
		width: 100%;
		height: 100%;
		-webkit-mask-image: none !important;
		mask-image:none !important;
		background: none !important;
	}

	._customer-catalog_styled .company-listing-switcher__style-list .company-listing-switcher__style-item-button_list:before {
		content: "";
		display: block;
		width: 26px;
		height: 26px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: url(/system/ckeditor_assets/pictures/326813/content_menu_3.png) 50% / contain no-repeat !important;
	}

	._customer-catalog_styled .company-listing-switcher__style-list .company-listing-switcher__style-item-button_gallery:before {
		content: "";
		display: block;
		width: 26px;
		height: 26px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: url(/system/ckeditor_assets/pictures/326815/content_menu_2.png) 50% / contain no-repeat !important;
	}

	._customer-add__title {
		max-width: 1340px;
		margin: 0 auto;
		padding: 50px 10px 35px 10px;
		box-sizing: border-box;
	}

	._customer-add__title span {
		color: #000000;
		font-family: "Roboto", sans-serif;
		font-size: 36px;
		font-weight: 700;
		line-height: 33px;
		text-transform: uppercase;
		position: relative;
	}

	._customer-add__groups-title {
		color: #000101 !important;
		font-family: Roboto, sans-serif !important;
		font-size: 24px !important;
		font-weight: 500 !important;
		line-height: 1.2 !important;
		margin-top: 0 !important;
		padding-bottom: 38px !important;
		text-transform: uppercase !important;
		position: relative;
		z-index: 1;
	}

	._customer-add__groups-title:after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		background-color: #e0e0e0;
		position: absolute;
		bottom: 18px;
		left: 0;
	}

	.company-product-listing__gallery-list {
		margin-top: 0 !important;
		display: flex !important;
		justify-content: flex-start !important;
		flex-wrap: wrap !important;
		gap: 0;
	}

	.company-product-listing__gallery-item {
		width: 22.8% !important;
		margin-right: 2.9% !important;
		margin-bottom: 25px !important;
		background-color: #fff !important;
		display: flex !important;
		flex-direction: column !important;
		transition: 0.3s all ease;
		border-radius: 5px !important;
		padding-bottom: 90px !important;
		position: relative;
		border: 1px solid #c9c7c7 !important;
		box-sizing: border-box !important;
	}

	.company-product-listing__gallery-item:nth-of-type(4n) {
		margin-right: 0 !important;
	}

	.company-product-listing__gallery-item:hover {
		cursor: pointer;
	}

	.company-product-listing__gallery-item .company-product-listing__gallery-img-link {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		width: 100% !important;
		max-width: 100% !important   ;
		height: 220px !important;
		max-height: 220px !important;
		overflow: hidden !important;
		border-radius: 5px !important;
		border: none !important;
		border-bottom: 1px solid #c9c7c7 !important;
	}

	.company-product-listing__gallery-item .company-product-listing__gallery-img-link img {
		display: block !important;
		max-width: 100% !important;
		max-height: 100% !important;
	}

	.company-product-listing__gallery-item .company-product-listing__gallery-info-title {
		margin-top: 20px !important;
		padding: 0 20px !important;
		flex: 1;
		height: auto !important;
		max-height: 250px !important;
		display: block !important;
	}

	.company-product-listing__gallery-item .company-product-listing__gallery-info-title *,
	.company-product-listing__list-list .company-product-listing__gallery-info-title * {
		color: #000000 !important;
		font-family: Roboto, sans-serif !important;
		font-size: 16px !important;
		font-weight: 400 !important;
		line-height: 1.2 !important;
		max-height: 500px !important;
	}

	.company-product-listing__gallery-item .company-product-listing__gallery-img-link:hover,
	.company-product-listing__list-list .company-product-listing__gallery-img-link:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	.company-product-listing__gallery-item .company-product-listing__gallery-info-price {
		margin-top: 20px !important;
		padding: 0 20px !important;
	}

	.company-product-listing__gallery-item .company-product-listing__gallery-info-price * {
		color: #333333 !important;
		font-family: Roboto, sans-serif !important;
		font-size: 18px !important;
		font-weight: 700 !important;
		line-height: 1.2 !important;
		max-height: 500px !important;
		white-space: normal !important;
	}

	.company-product-listing__list-list .company-product-listing__item-price {
		margin-bottom: 15px !important;
	}

	.company-product-listing__list-list .company-product-listing__item-price * {
		color: #333333 !important;
		font-family: Roboto, sans-serif !important;
		font-size: 14px !important;
		font-weight: 700 !important;
		line-height: 1.2 !important;
		max-height: 500px !important;
		white-space: normal !important;
	}

	.company-product-listing__gallery-item .company-product-listing__order-buttons {
		width: calc(100% - 40px) !important;
		height: 43px !important;
		margin: 0 !important;
		padding: 0 !important;
		position: absolute;
		bottom: 22px !important;
		left: 50%;
		transform: translateX(-50%) !important;
	}

	.company-product-listing__list-list .company-product-listing__order-buttons {
		width: 140px !important;
		height: 43px !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	.company-product-listing__gallery-item .company-product-listing__order-buttons div,
	.company-product-listing__list-list .company-product-listing__order-buttons div {
		display: none !important;
	}

	.company-product-listing__gallery-item .company-product-listing__order-buttons span,
	.company-product-listing__list-list .company-product-listing__order-buttons span {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		width: 100% !important;
		height: 100% !important;
		border-radius: 5px !important;
		border: 1px solid #e63e38 !important;
		background-color: #fff !important;
		opacity: 1 !important;
		margin: 0 !important;
		padding: 0 !important;
		min-width: 20px !important;
		color: #e63e38 !important;
		font-family: Roboto, sans-serif !important;
		font-size: 16px !important;
		font-weight: 500 !important;
		text-align: center !important;
		text-transform: uppercase !important;
		transition: 0.3s all ease !important;
	}

	.company-product-listing__gallery-item .company-product-listing__order-buttons span:hover,
	.company-product-listing__list-list .company-product-listing__order-buttons span:hover {
		cursor: pointer;
		background-color: #e63e38 !important;
		color: #fff !important;
	}

	.company-listing-switcher {
		position: relative;
		margin: 0;
	}

	.company-listing-switcher__wrapper {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}

	.company-header-title,
	.company-header__content {
		visibility: hidden;
		width: 0;
		height: 0;
	}

	.company-header__products,
	.company-products-page__group-description,
	.company-products-page__sc-editor-output {
		display: none;
	}

	@media (max-width: 1240px) {
		.company-product-listing__gallery-item {
			width: 32% !important;
			margin-right: 2% !important;
		}

		.company-product-listing__gallery-item:nth-of-type(4n) {
			margin-right: 2% !important;
		}

		.company-product-listing__gallery-item:nth-of-type(3n) {
			margin-right: 0 !important;
		}

		.company-product-listing__gallery-item .company-product-listing__gallery-img-link {
			height: 160px !important;
			max-height: 160px !important;
			overflow: hidden !important;
			border-radius: 5px !important;
		}

		.company-product-listing__gallery-item .company-product-listing__gallery-img-link {
			padding: 0 10px !important;
		}

		.company-product-listing__gallery-item .company-product-listing__gallery-img-link *,
		.company-product-listing__list-list .company-product-listing__gallery-img-link * {
			font-size: 14px !important;
		}

		.company-product-listing__gallery-item .company-product-listing__order-buttons {
			width: calc(100% - 20px) !important;
		}

		.company-product-listing__gallery-item .company-product-listing__order-buttons span {
			font-size: 12px !important;
		}

		.company-product-listing__gallery-item .company-product-listing__gallery-info-price {
			padding: 0 10px !important;
		}

		.company-product-listing__gallery-item .company-product-listing__gallery-info-price * {
			font-size: 14px !important;
		}
	}
</style>
<style>
	.modern-skin ._customer-catalog_styled .main-column-menu {
		padding: 0;
	}

	._customer-catalog_styled .sb-body {
		padding: 0 !important;
	}

	.modern-skin ._customer-catalog_styled .mcm-item-rubrics.new {
		display: block;
		margin: 0;
		padding: 0;
	}

	._customer-catalog_styled .company-first-column__item_rubricator {
		max-height: 800px !important;
		scrollbar-color: #e63e38 #fff;
		scrollbar-width: thin;
	}

	._customer-catalog_styled .company-first-column__item_rubricator::-webkit-scrollbar-track {
		width: 10px;
		max-width: 10px;
	}

	._customer-catalog_styled .company-first-column__item_rubricator::-webkit-scrollbar {
		width: 6px;
		background-color: #f5f5f5 !important;
	}

	._customer-catalog_styled .company-first-column__item_rubricator::-webkit-scrollbar-thumb {
		background-color: #e63e38;
		width: 3px !important;
	}

	.hide-group-tree-wrapper {
		display: none;
	}

	.level-1 .prl-cover {
		border-radius: 5px !important;
		border: 1px solid #e63e38 !important;
	}

	.level-2 .prl-cover,
	.level-3 .prl-cover,
	.level-4 .prl-cover,
	.level-5 .prl-cover {
		border: none !important;
	}

	.prl-item {
		margin-bottom: 2px !important;
	}

	.product-rubrics-list.modified .prl-link {
		padding: 0;
	}

	._customer-catalog_styled .prl-item.level-1 > .prl-cover > .prl-link {
		padding-left: 0;
	}

	._customer-catalog_styled .prl-item.level-2 > .prl-cover > .prl-link {
		padding-left: 0;
	}

	._customer-catalog_styled .prl-item.level-3 > .prl-cover > .prl-link {
		padding-left: 20px;
	}

	._customer-catalog_styled .prl-item.level-4 > .prl-cover > .prl-link {
		padding-left: 35px;
	}

	._customer-catalog_styled .prl-item.level-5 > .prl-cover > .prl-link {
		padding-left: 50px;
	}

	._customer-catalog_styled .prl-cover:hover,
	._customer-catalog_styled .prl-cover.opened,
	._customer-catalog_styled .prl-cover.active {
		background-color: #e63e38;
	}

	.level-1.opened .prl-cover {
		background-color: #e63e38;
	}

	.level-1.opened .prl-title {
		color: #fff !important;
	}

	.level-2 .prl-cover {
		background-color: #f5f5f5 !important;
	}

	.level-2 .prl-cover:hover {
		background-color: #e63e38 !important;
	}

	.level-2 .prl-cover:hover::before {
		display: none;
	}

	.level-1.opened .level-2 .prl-title {
		color: #000 !important;
	}

	.level-2.opened .prl-cover,
	.level-3.opened .prl-cover,
	.level-4.opened .prl-cover,
	.level-5.opened .prl-cover {
		background-color: #f5f5f5;
	}

	._customer-catalog_styled .level-1 .prl-cover:hover > .prl-link > .prl-link-content > .prl-title,
	._customer-catalog_styled .level-1 .prl-cover.opened > .prl-link > .prl-link-content > .prl-title,
	._customer-catalog_styled .level-1 .prl-cover.active > .prl-link > .prl-link-content > .prl-title {
		color: #ffffff !important;
	}

	._customer-catalog_styled .product-rubrics-list.modified .prl-title {
		padding-top: 14px;
		padding-bottom: 14px;
		padding-left: 22px;
		padding-right: 40px;
		color: #e63e38;
		font-family: Roboto, sans-serif !important;
		font-size: 16px !important;
		font-weight: 400 !important;
		line-height: 22px !important;
	}

	._customer-catalog_styled .prl-toggle {
		left: auto;
		right: 10px;
		top: 50%;
		width: 24px !important;
		height: 24px !important;
		background-image: url(/system/ckeditor_assets/pictures/331160/content_down-chevron_copy.png);
		background-position: center;
		background-repeat: no-repeat;
		transition: 0 !important;
		transform: translateY(-50%);
		position: absolute;
	}

	._customer-catalog_styled .level-1 .prl-cover:hover > .prl-toggle,
	._customer-catalog_styled .level-1 .prl-cover.active > .prl-toggle {
		filter: invert(1) brightness(25);
	}

	._customer-catalog_styled .level-1.opened > .prl-cover > .prl-toggle {
		transform: rotateZ(-90deg) translate(50%);
		filter: invert(1) brightness(25);
	}

	._customer-catalog_styled .level-2 .prl-cover:hover > .prl-toggle,
	._customer-catalog_styled .level-2 .prl-cover.active > .prl-toggle {
		filter: invert(1) brightness(25);
	}

	._customer-catalog_styled .level-2.opened > .prl-cover > .prl-toggle {
		transform: rotateZ(-90deg) translate(50%);
	}

	._customer-catalog_styled .prl-toggle:hover {
		background-color: transparent;
	}

	._customer-catalog_styled .prl-toggle::before,
	._customer-catalog_styled .mcm-item,
	._customer-catalog_styled .product-rubrics-list.modified .prl-title:after {
		display: none !important;
	}

	._customer-catalog_styled .company-first-column__item:not(.company-first-column__item_rubricator),
	._customer-catalog_styled .prl-toggle-empty {
		display: none;
	}

	.level-2 .prl-cover {
		position: relative;
	}

	.level-2 .prl-cover::before {
		content: "";
		display: block;
		width: calc(100% - 46px);
		height: 2px;
		background-color: #eae9e9;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.level-1 .product-rubrics-list .level-2:last-child .prl-cover::before {
		display: none !important;
	}

	.prl-item.opened {
		background-color: #f5f5f5;
		border-left: 1px solid #c9c7c7;
		border-right: 1px solid #c9c7c7;
	}
</style>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		if (window.location.pathname.includes("/catalog")) {
			const pageContent = document.querySelector("#company-content");
			const pageWrapper = document.querySelector(".company-content");
			const heading = document.querySelector(".company-header-title").textContent;

			if (window.location.pathname.includes("/catalog/k-")) {
				document.querySelector(".company-listing-switcher__wrapper").insertAdjacentHTML(
					"beforebegin",
					`
                        <div class="_customer-add__groups-title">${heading}</div>
                    `
				);
			}

			pageContent.classList.add("_customer-catalog_styled");
			pageWrapper.insertAdjacentHTML(
				"beforebegin",
				`
                    <div class="_customer-add__title">
                        <span>Продукция</span>    
                    </div>
                `
			);
		}
	});
</script>
