<div class="_customer-ad_box">
    <p class="_customer-ad_box__title">НАШИ ПРЕИМУЩЕСТВА</p>
    <div>

        <div class="_customer-ad">
            <div class="_customer-ad__item">
                <img src="/system/ckeditor_assets/pictures/236619/content_adv_1.png">
                <div>
                    <p class="_customer-ad__title">Продукция всегда в наличии на складе.</p>
                </div>
            </div>

            <div class="_customer-ad__item">
                <img src="/system/ckeditor_assets/pictures/236620/content_adv_2.png">
                <div>
                    <p class="_customer-ad__title">Наши специалисты всегда готовы дать консультацию по товарам.</p>
                </div>
            </div>

            <div class="_customer-ad__item">
                <img src="/system/ckeditor_assets/pictures/236621/content_adv_3.png">
                <div>
                    <p class="_customer-ad__title">Постоянным клиентам и оптовым покупателям предоставляются скидки.</p>
                </div>
            </div>

            <div class="_customer-ad__item">
                <img src="/system/ckeditor_assets/pictures/236622/content_adv_4.png">
                <div>
                    <p class="_customer-ad__title">Оптимальные цены, т.к. мы работаем непосредственно с заводами-изготовителями.</p>
                </div>
            </div>

            <div class="_customer-ad__item">
                <img src="/system/ckeditor_assets/pictures/236623/content_adv_5.png">
                <div>
                    <p class="_customer-ad__title">Возможна отсрочка платежа, обговаривается индивидуально. </p>
                </div>
            </div>

            <div class="_customer-ad__item">
                <img src="/system/ckeditor_assets/pictures/236624/content_adv_6.png">
                <div>
                    <p class="_customer-ad__title">Являемся официальным дилером по огнебиозащитным составам. </p>
                </div>
            </div>

            <div class="_customer-ad__item">
                <img src="/system/ckeditor_assets/pictures/236625/content_adv_7.png">
                <div>
                    <p class="_customer-ad__title">Более 16 лет опыт работы в сфере пожарного оборудования. </p>
                </div>
            </div>

        </div>
    </div>
</div>
