<div class="_customer-block_info">
    <!--Main slider type 4-1-->
    <div class="_customer-section _customer-main-slider">
        <!--Slider-->
        <link rel="stylesheet" href="/assets/custom_assets/swiper.min.css">
        <link rel="stylesheet" href="/assets/custom_assets/megasite_slider.min.css">
        <script src="/assets/custom_assets/swiper.min.js"></script>
        <!--end Slider-->
        <style>
            ._customer-block_info ._customer-main-slider__slide {
                display: block;
                text-decoration: none;
            }

            ._customer-block_info ._customer-main-slider__slide img {
                max-width: 100%;
                margin: 0 auto;
                display: block;
            }

            ._customer-slider .swiper-button-prev,
            ._customer-slider .swiper-button-next {
                width: 116px;
                height: 52px;
                outline: none;
                background-image: none;
                background: #3f97cb;
                color: transparent;
                top: auto;
                bottom: 38px;
                opacity: 1;
                transition: all .3s ease-out;
                margin: 0;
                border-radius: 9px;
            }

            ._customer-block_info ._customer-slider .swiper-button-prev {
                left: 0;
                top: calc(50% - 25px);
            }

            ._customer-block_info ._customer-slider .swiper-button-next {
                right: 11px;
                top: calc(50% - 25px);
            }

            ._customer-slider .swiper-button-prev::before,
            ._customer-slider .swiper-button-next::before {
                content: '';
                width: 75px;
                height: 8px;
                background-image: url(/system/ckeditor_assets/pictures/220435/content_arrow.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                top: calc((100% - 10px) / 2);
                left: calc((100% - 75px) / 2);
                position: absolute;
            }

            ._customer-slider .swiper-button-prev:hover,
            ._customer-slider .swiper-button-next:hover {
                width: 116px;
                background: #3f97cb;
                opacity: 0.5;
            }

            ._customer-block_info .customer-button-wrap {
                max-width: 1167px;
                margin: 0 auto;
                position: relative;
                display: flex;
                justify-content: flex-end;
            }

            ._customer-block_info ._customer-slider .swiper-pagination {
                box-sizing: border-box;
                text-align: center;
                top: auto !important;
                bottom: 10px !important;
                max-width: 84px !important;
                padding: 10px !important;
                right: 20px !important;
                left: auto !important;
            }

            ._customer-block_info  .swiper-pagination-fraction {
                color: #333333 !important;
                font-size: 21px !important;
                font-weight: 700;
            }

            ._customer-block_info .swiper-pagination-current {
                font-size: 31px;
            }
        </style>
        <div class="_customer-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="_customer-main-slider__slide" href="/catalog/k-3608980-pozharnyye_ognetushiteli">
                            <img src="/system/ckeditor_assets/pictures/237341/content_slider_type_4_1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="_customer-main-slider__slide" href="/catalog/k-9779606-pozharnyye_shkafy_i_inventar">
                            <img src="/system/ckeditor_assets/pictures/237342/content_slider_type_4_2.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="_customer-main-slider__slide" href="/catalog/k-3608982-pozharnyye_rukava_i_shlangi">
                            <img src="/system/ckeditor_assets/pictures/237343/content_slider_type_4_3.png">
                        </a>
                    </div>
                     <div class="swiper-slide">
                        <a class="_customer-main-slider__slide" href="/catalog/k-330567-ognezashchitnyye_sostavy">
                            <img src="/system/ckeditor_assets/pictures/237344/content_slider_type_4_4.png">
                        </a>
                    </div>
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>

            </div>
        </div>
        <script>
            var sliderMain = new Swiper('._customer-main-slider .swiper-container', {
                slidesPerView: 1,
                loop: true,
                grabCursor: true,
                keyboard: {
                    enabled: true,
                },
                autoplay: {
                    delay: 4000,
                },
                pagination: {
                    el: '._customer-main-slider .swiper-pagination',
                    type: 'fraction',
                    clickable: true,
                },
                navigation: {
                    prevEl: '._customer-main-slider .swiper-button-prev',
                    nextEl: '._customer-main-slider .swiper-button-next',
                },
            });
        </script>
    </div>
    <!--end Main slider type 4-1-->
</div>


<style>
    #company-content-wrapper {
        max-width: 100% !important;
    }
    .company-slider__container_huge {
        margin: 0 auto;
    }
.flat-skin-block.title {
    display: none;
}
.flat-skin-block {
    border-bottom: none;
}
._customer-product-group-section {
    max-width: 1146px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin:  0 auto;
}

._customer-product-group-title {
    max-width: 1146px;
    width: 100%;
    color: #333333;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

    @media (max-width: 1000px) {
        ._customer-product-group-title {
            text-align: center;
        }
    }


._customer-product-group {
    max-width: 1146px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
}
._customer-product-group_item {
    margin: 30px 39px 0 0;
    text-decoration: none;
}
._customer-product-group_item:nth-of-type(3n) {
    margin: 30px 0 0 0;
}
._customer-product-group_img {
    margin: 0;
    width: 356px;
    height: 279px;
    border-radius: 10px;
}
._customer-product-group_img:hover {
    box-shadow: 0 10px 20px #e63e38;
    cursor: pointer;
}

._customer-product-group_name {
    color: #101010 !important;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: left;
    text-transform: uppercase;
    margin: 20px 10px 0 10px;
    text-decoration: none;
}
._customer-product-group_name:hover{
    color: #e63e38 !important;
    cursor: pointer;
}
._customer-product-group_btn_box {
    width: 324px;
    height: 40px;
    margin: 50px auto 0 auto;
}
._customer-product-group_btn {
    width: 324px;
    height: 40px;
    border-radius: 10px;
    background-color: #e63e38;
    display: inline-block;
    color: #ffffff !important;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px !important;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
._customer-product-group_btn:hover {
    cursor: pointer;
    width: 320px;
    height: 36px;
    line-height: 36px !important;
    border-radius: 10px;
    background-color: #ffffff;
    color: #e63e38 !important;
    border: 2px solid #e63e38;
}

@media (max-width: 1146px) {

    ._customer-product-group_item {
        margin: 30px 10px 0 10px;
    }
    ._customer-product-group_item:nth-of-type(3n) {
        margin: 30px 10px 0 10px;
    }
}


</style>
<div class="_customer-product-group-section">
<div class="_customer-product-group-title">Категории</div>
    <div  class="_customer-product-group">
        <a class="_customer-product-group_item" href="/catalog/k-3608980-pozharnyye_ognetushiteli">
            <img class="_customer-product-group_img" src="/system/ckeditor_assets/pictures/236567/content_product_group_1.png" alt="Группа товаров">
            <p class="_customer-product-group_name">Огнетушители пожарные</p>
        </a>

        <a class="_customer-product-group_item" href="/catalog/k-3608982-pozharnyye_rukava_i_shlangi">
            <img class="_customer-product-group_img" src="/system/ckeditor_assets/pictures/236568/content_product_group_2.png" alt="Группа товаров">
            <p class="_customer-product-group_name">Пожарные рукава и шланги</p>
        </a>

        <a class="_customer-product-group_item" href="/catalog/k-199799-shkafy_pozharnyye_yashchiki">
            <img class="_customer-product-group_img" src="/system/ckeditor_assets/pictures/236569/content_product_group_3.png" alt="Группа товаров">
            <p class="_customer-product-group_name">Шкафы пожарные</p>
        </a>

        <a class="_customer-product-group_item" href="/catalog/k-330567-ognezashchitnyye_sostavy">
            <img class="_customer-product-group_img" src="/system/ckeditor_assets/pictures/236570/content_product_group_4.png" alt="Группа товаров">
            <p class="_customer-product-group_name">Огнезащитные составы</p>
        </a>

        <a class="_customer-product-group_item" href="/catalog/k-9779603-okhranno_pozharnyye_sistemy">
            <img class="_customer-product-group_img" src="/system/ckeditor_assets/pictures/236571/content_product_group_5.png" alt="Группа товаров">
            <p class="_customer-product-group_name">Охранно-пожарные системы</p>
        </a>

    </div>
    <div class="_customer-product-group_btn_box">
        <a class="_customer-product-group_btn" href="/catalog" onclick="yaCounter32912625.reachGoal('megasite_mainpage_link_catalog')">каталог
        </a>
    </div>
</div>


<!-- стили товаров -->
<style>

    /*наши предложения*/


    .flat-skin-block.with-bottom:nth-of-type(2) .header,
    .flat-skin-block.with-bottom:nth-of-type(2) .updated,
    .flat-skin-block.with-bottom:nth-of-type(2) .more {
          display: none;
    }
    .company-products{
        max-width: 1145px;
        width: 100%;
        margin: 80px auto 70px auto;
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: flex-start;
        position: relative;
    }

    .company-products:before {
        content: "Товары";
        display: block;
        background-color: #ffffff;
        position: relative;
        top: 0;
        left: 0;
        color: #333333;
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 36px;
        text-align: left;
        text-transform: uppercase;
        margin: 0 30px 20px 0 !important;
        max-width: 1145px;
        width: 100%;
    }
    @media (max-width: 1000px) {
        .company-products:before {
            text-align: center;
        }
    }


    .company-content .company-product-item.gallery {
        width: 213px;
        height: 326px;
        margin: 20px 20px 0 0 !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 10px;
    }

    .company-product-item.gallery:nth-of-type(5n) {
        margin: 20px 0 0 0 !important;
    }

    @media (max-width: 1145px) {
        .company-content .company-product-item.gallery {
            margin:  20px 10px 0 10px !important;
        }

        .company-product-item.gallery:nth-of-type(5n) {
            margin:  20px 10px 0 10px !important;
        }
    }
    .company-product-item.gallery .cpi-image.image-wrapper {
        width: 213px;
        height: 150px;
        max-width: 213px;
        max-height: 150px;
    }
    .company-product-item.gallery .tdn.cpi-name {
        color: #333333;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 21px;
        text-align: left;
        margin: 10px 0 16px 0;
        height: 63px !important;
        max-width: 193px;
        width: 100%;
        padding: 0 10px;
    }
    .company-product-item.gallery .price {
        max-width: 193px;
        width: 100%;
        height: 27px;
        color: #333333;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 27px;
        text-align: left;
        text-transform: uppercase;
        padding: 0 10px;
        margin: 0;
    }

    .company-product-item.gallery .price .bp-price.fsn,
    .company-product-item.gallery .price .price-currency {
        color: #333333;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 27px;
        text-align: left;
        text-transform: uppercase;
    }
    .company-product-item.gallery .mt15 {
        text-align: center;
        margin: 10px 0 10px 0!important;
        width: 100%;
        flex-grow: 99;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .company-product-item.gallery .mt15 span{

    }

    .company-product-item.gallery .mt15 span.tmpl-company-button{
        width: 193px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #e63e38;
        background-color: #ffffff !important;
        color: #333333 !important;
        font-family: Roboto, sans-serif !important;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 40px !important;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto 0 auto;
    }
    .company-product-item.gallery span.tmpl-company-button:hover {
        background-color: #e63e38 !important;
        color: #ffffff !important;
        cursor: pointer;
    }
    .company-product-item.gallery:hover {
        box-shadow: 0 10px 20px #e63e38;
    }
    .tmpl-company-button-cart {
        display: none;
    }
    .company-product-item.gallery.transparent {
        display: none;
    }
</style>
<!-- конец стилей товаров -->
