<!--Button-->
<style>
    ._customer-page ._customer-button {
        display: inline-flex !important;
        justify-content: center;
        align-items: center;
        min-width: 324px;
        box-sizing: border-box;
        outline: none;
        border: 2px solid #e63e38;
        border-radius: 10px;
        padding: 11px 20px 9px;
        background-color: #e63e38;
        color: #fff !important;
        font: 400 14px/1.2 'Roboto', 'Open Sans', sans-serif;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
        transition: all .2s;
    }

    ._customer-page ._customer-button:hover {
        border-color: #ff6863 !important;
        background-color: #ff6863 !important;
        color: #fff !important;
    }
</style>
<!--end Button-->
<!--Page-->
<div class="_customer-page">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

        .company-content__column-second-wrapper {
            padding: 0;
            border-radius: 0;
            background-color: transparent;
        }

        #company-content-wrapper {
            max-width: none !important;
        }

        .modern-skin .ccc-2-3 .sb-body,
        .modern-skin .ccc-2 .sb-body,
        .modern-skin .company-content {
            padding: 0 !important;
        }

        .breadcrumbs-slider-wrapper,
        .modern-skin .company-header {
            display: none !important;
        }

        ._customer-page {
            font: 400 14px/1.4 'Roboto', 'Open Sans', sans-serif;
            color: #333333;
        }

        ._customer-section {
            padding: 0 10px;
        }

        ._customer-section__wrapper {
            max-width: 1147px;
            margin: 0 auto;
            padding: 60px 0;
        }

        ._customer-title {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 40px;
        }

        ._customer-title_big {
            font-size: 36px;
        }

        ._customer-subtitle {
            font-weight: 700;
            margin-bottom: 10px;
        }

        @media (max-width: 1023px) {
            ._customer-title {
                text-align: center;
            }
        }
    </style>
    <div class="_customer-section _customer-intro">
        <style>
            ._customer-intro ._customer-text {
                font-size: 18px;
            }

            ._customer-intro__content {
                padding-right: 361px;
                background: url(/system/ckeditor_assets/pictures/238843/content_logo.png) right center no-repeat;
                min-height: 175px;
            }

            @media (max-width: 768px) {
                ._customer-intro__content {
                    padding-right: 0;
                    padding-top: 200px;
                    background-position: center 0;
                }
            }

            @media (max-width: 350px) {
                ._customer-intro__content {
                    background-size: 250px;
                }
            }
        </style>
        <div class="_customer-section__wrapper">
            <div class="_customer-intro__content">
                <div class="_customer-title _customer-title_big">
                    О компании
                </div>
                <div class="_customer-text">
                    Компания «Огнетушители, пожарное оборудование» поможет обеспечить пожаробезопасность вашего
                    предприятия
                    или организации. У нас есть все необходимое для борьбы с огнем и предупреждения возгораний.
                </div>
            </div>
        </div>
    </div>

    <div class="_customer-section _customer-directions">
        <style>
            ._customer-directions__list {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

            }

            ._customer-directions__item {
                padding-left: 110px;
                box-sizing: border-box;
                width: calc((100% - 118px) / 4);
                margin-bottom: 20px;
                min-height: 100px;
                background-position: left top;
                background-repeat: no-repeat;
                color: inherit !important;
                text-decoration: none;
            }

            ._customer-directions__item:hover {
                text-decoration: underline;
            }

            ._customer-directions__item._customer-big {
                width: calc((100% - 78px) / 3);
            }

            ._customer-directions__item:nth-child(1) {
                background-image: url(/system/ckeditor_assets/pictures/238844/content_dir-01.png);
            }

            ._customer-directions__item:nth-child(2) {
                background-image: url(/system/ckeditor_assets/pictures/238845/content_dir-02.png);
            }

            ._customer-directions__item:nth-child(3) {
                background-image: url(/system/ckeditor_assets/pictures/238855/content_dir-03.png);
            }

            ._customer-directions__item:nth-child(4) {
                background-image: url(/system/ckeditor_assets/pictures/238856/content_dir-04.png);
            }

            ._customer-directions__item:nth-child(5) {
                background-image: url(/system/ckeditor_assets/pictures/238857/content_dir-05.png);
            }

            ._customer-directions__item:nth-child(6) {
                background-image: url(/system/ckeditor_assets/pictures/238858/content_dir-06.png);
            }

            ._customer-directions__item:nth-child(7) {
                background-image: url(/system/ckeditor_assets/pictures/238859/content_dir-07.png);
            }

            @media (max-width: 1023px) {
                ._customer-directions__item {
                    width: calc((100% - 40px) / 2) !important;
                }
            }

            @media (max-width: 768px) {
                ._customer-directions__item {
                    width: 100% !important;
                }
            }
        </style>
        <div class="_customer-section__wrapper">
            <div class="_customer-title">
                Основные направления деятельности
            </div>
            <div class="_customer-directions__list">
                <a class="_customer-directions__item _customer-big" href="/catalog/k-3608980-pozharnyye_ognetushiteli"
                    onclick="yaCounter32912625.reachGoal('megasite_page_link_catalog_3608980'); return true;">
                    Огнетушители порошковые, воздушно-пенные, пожарные, углекислотные, ранцевые и запчасти к ним.
                </a>
                <a class="_customer-directions__item _customer-big"
                    href="/catalog/k-3608982-pozharnyye_rukava_i_shlangi"
                    onclick="yaCounter32912625.reachGoal('megasite_page_link_catalog_3608982'); return true;">
                    Рукава напорные и напорно-всасывающие разных типоразмеров.
                </a>
                <a class="_customer-directions__item _customer-big"
                    href="/catalog/k-9779606-pozharnyye_shkafy_i_inventar"
                    onclick="yaCounter32912625.reachGoal('megasite_page_link_catalog_9779606'); return true;">
                    Пожарные шкафы и ящики для размещения рукавов и огнетушителей.
                </a>
                <a class="_customer-directions__item" href="/catalog/k-330567-ognezashchitnyye_sostavy"
                    onclick="yaCounter32912625.reachGoal('megasite_page_link_catalog_330567'); return true;">
                    Огнезащитные составы и антисептики широкого спектра действия.
                </a>
                <a class="_customer-directions__item" href="/catalog"
                    onclick="yaCounter32912625.reachGoal('megasite_page_link_catalog'); return true;">
                    Комплекс оборудования для тушения пожаров и снаряжение.
                </a>
                <a class="_customer-directions__item" href="/catalog/k-9779606-pozharnyye_shkafy_i_inventar"
                    onclick="yaCounter32912625.reachGoal('megasite_page_link_catalog_9779606'); return true;">
                    Пожарный инвентарь, лестницы и гидранты.
                </a>
                <a class="_customer-directions__item" href="/catalog/k-2809609-signalizatsii_opoveshchateli"
                    onclick="yaCounter32912625.reachGoal('megasite_page_link_catalog_2809609'); return true;">
                    Устройства оповещения
                </a>
            </div>
        </div>
    </div>

    <div class="_customer-section _customer-offer">
        <style>
            ._customer-offer__content {
                padding-left: 494px;
                background: url(/system/ckeditor_assets/pictures/238861/content_bg-img.png) left center no-repeat;
            }

            ._customer-offer ._customer-text {
                margin-bottom: 20px;
            }

            ._customer-offer ._customer-text>div {
                margin-bottom: 10px;
            }

            @media (max-width: 1023px) {
                ._customer-offer__content {
                    padding-left: 0;
                    background: none;
                }
            }

            @media (max-width: 380px) {
                ._customer-page ._customer-offer ._customer-button {
                    min-width: 250px;
                }
            }
        </style>
        <div class="_customer-section__wrapper">
            <div class="_customer-offer__content">
                <div class="_customer-title">
                    Наше предложение
                </div>
                <div class="_customer-text">
                    <div>
                        ООО «Огнетушители, пожарное оборудование» – надежный поставщик средств пожаротушения и систем
                        обеспечения безопасности. Мы работаем напрямую с заводами- производителями и являемся
                        официальными
                        представителями НПО «НОРТ», известного изготовителя огнебиозащитных средств для повышения
                        стойкости
                        строений и древесины. Наши клиенты получают решение для конкретных условий и
                        расширенную(исчерпывающую) консультацию по вопросам использования и характеристикам. Стремимся
                        всегда информировать и просвещать покупателей, чтобы помочь им сделать правильный выбор. Кроме
                        того,
                        наши специалисты выполнят техническое обслуживание огнетушителей, перезарядку, ремонт и
                        освидетельствование.
                    </div>
                    <div>
                        Предлагаемая продукция соответствует требованиям законодательства и действующим стандартам. При
                        продаже всех товарных единиц предоставляются сертификаты соответствия, паспорт изделия и
                        гарантийный
                        срок эксплуатации.
                    </div>
                </div>
                <a class="_customer-button" href="/catalog"
                    onclick="yaCounter32912625.reachGoal('megasite_page_link_catalog'); return true;">Перейти в
                    каталог</a>
            </div>
        </div>
    </div>

    <div class="_customer-section _customer-facts">
        <style>
            ._customer-facts__list {
                display: flex;
                justify-content: space-between;
            }

            ._customer-facts__item {
                box-sizing: border-box;
                width: calc((100% - 118px) / 4);
                margin-bottom: 20px;
                position: relative;
            }

            ._customer-facts__item ._customer-number {
                color: #e63e38;
                font-weight: 700;
                font-size: 36px;
                text-transform: uppercase;
            }

            ._customer-facts__item>* {
                position: relative;
            }

            ._customer-facts__item::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
            }

            ._customer-facts__item:nth-child(1)::before {
                content: url(/system/ckeditor_assets/pictures/238864/content_facts-bg-1.png);
                left: -3px;
            }

            ._customer-facts__item:nth-child(2)::before {
                content: url(/system/ckeditor_assets/pictures/238865/content_facts-bg-2.png);
                left: -10px;
            }

            ._customer-facts__item:nth-child(3)::before {
                content: url(/system/ckeditor_assets/pictures/238866/content_facts-bg-3.png);
                left: -20px;
            }

            ._customer-facts__item:nth-child(4)::before {
                content: url(/system/ckeditor_assets/pictures/238867/content_facts-bg-4.png);
                left: -19px;
            }

            @media (max-width: 768px) {
                ._customer-facts__list {
                    flex-wrap: wrap;
                }

                ._customer-facts__item {
                    width: 100%;
                    min-height: 100px;
                }

                ._customer-facts__item::before {
                    left: -10px !important;
                }
            }
        </style>
        <div class="_customer-section__wrapper">
            <div class="_customer-title">
                Цифры и факты
            </div>
            <div class="_customer-facts__list">
                <div class="_customer-facts__item">
                    <div>
                        Работаем на рынке противопожарного оборудования уже
                    </div>
                    <div class="_customer-number">
                        17 лет
                    </div>
                </div>
                <div class="_customer-facts__item">
                    <div>
                        В наличии свыше
                    </div>
                    <div class="_customer-number">
                        700
                    </div>
                    <div>
                        позиций доступных на складе товаров.
                    </div>
                </div>
                <div class="_customer-facts__item">
                    <div>
                        Более
                    </div>
                    <div class="_customer-number">
                        50%
                    </div>
                    <div>
                        наших клиентов возвращаются и становятся постоянными.
                    </div>
                </div>
                <div class="_customer-facts__item">
                    <div>
                        Ценим ваше время и выполняем свыше
                    </div>
                    <div class="_customer-number">
                        90%
                    </div>
                    <div>
                        отгрузок в день заказа.
                    </div>
                </div>
            </div>
            <div class="_customer-subtitle">
                В базе наших клиентов такие предприятия, как
            </div>
            <div class="_customer-text">
                ЗАО «Сибур-Химпром», ЗАО «Курорт Усть-Качка», ОАО «Трест №14»,ОАО «Губахинский кокс», ООО «Лысьвенский
                завод нефтяного машиностроения» и другие.
            </div>
        </div>
    </div>

    <div class="_customer-section _customer-page-adv">
        <style>
            ._customer-page-adv {
                background-color: #c9c7c7;
                color: #101010;
            }

            ._customer-page-adv__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            ._customer-page-adv__item {
                width: calc((100% - 120px) / 3);
                box-sizing: border-box;
                padding-left: 40px;
                margin-bottom: 40px;
                background-repeat: no-repeat;
                background-position: left top;
            }

            ._customer-page-adv__item:nth-child(1) {
                background-image: url(/system/ckeditor_assets/pictures/238872/content_adv-1.png);
            }

            ._customer-page-adv__item:nth-child(2) {
                background-image: url(/system/ckeditor_assets/pictures/238873/content_adv-2.png);
                background-position-x: 4px;
            }

            ._customer-page-adv__item:nth-child(3) {
                background-image: url(/system/ckeditor_assets/pictures/238874/content_adv-3.png);
            }

            ._customer-page-adv__item:nth-child(4) {
                background-image: url(/system/ckeditor_assets/pictures/238875/content_adv-4.png);
            }

            ._customer-page-adv__item:nth-child(5) {
                background-image: url(/system/ckeditor_assets/pictures/238876/content_adv-5.png);
            }

            ._customer-page-adv__item:nth-child(6) {
                background-image: url(/system/ckeditor_assets/pictures/238877/content_adv-6.png);
            }

            ._customer-page-adv__item:nth-child(7) {
                background-image: url(/system/ckeditor_assets/pictures/238878/content_adv-7.png);
            }

            ._customer-page-adv__item:nth-child(8) {
                background-image: url(/system/ckeditor_assets/pictures/238879/content_adv-8.png);
            }

            @media (max-width: 1023px) {
                ._customer-page-adv__item {
                    width: calc((100% - 40px) / 2);
                    min-height: 30px;
                }
            }

            @media (max-width: 450px) {
                ._customer-page-adv__item {
                    width: 100%;
                }
            }
        </style>
        <div class="_customer-section__wrapper">
            <div class="_customer-title">
                Выгодные стороны сотрудничества
            </div>
            <div class="_customer-page-adv__list">
                <div class="_customer-page-adv__item">
                    Осуществляем продажу любых позиций от 1 единицы.
                </div>
                <div class="_customer-page-adv__item">
                    Принимаем заказы от государственных компаний, юридических и физических лиц.
                </div>
                <div class="_customer-page-adv__item">
                    На крупные партии с чеком от 20 000 руб. действуют скидки.
                </div>
                <div class="_customer-page-adv__item">
                    Предлагаем программу лояльности для постоянных покупателей.
                </div>
                <div class="_customer-page-adv__item">
                    Выполняем замену бракованного товара в течение дня.
                </div>
                <div class="_customer-page-adv__item">
                    Привлекательный прайс без лишних накруток.
                </div>
            </div>
        </div>
    </div>

    <div class="_customer-section">
        <style>
            ._customer-order {
                display: block !important;
                box-sizing: border-box;
                padding: 40px 87px;
                border: 4px solid #e31e24;
            }

            ._customer-order__title {
                display: block !important;
                margin-bottom: 20px !important;
                font-size: 24px;
                text-align: center;
                font-weight: 700;
                text-transform: uppercase;
            }

            ._customer-order__offer {
                display: block !important;
                margin-bottom: 1em;
            }

            ._customer-order__wrapper,
            ._customer-order__form {
                display: block !important;
            }
        </style>
        <!--Widget form-->
        <style>
            ._customer-widget-form__hint {
                display: block !important;
                text-align: center;
                font-size: 18px;
            }

            ._customer-widget-form__row {
                display: flex !important;
                justify-content: space-between;
                align-items: flex-end;
                margin: 0 calc(-1 * 20px / 2);
            }

            ._customer-widget-form__row>* {
                flex: 1;
                margin: 1em calc(20px / 2) 0;
            }

            ._customer-widget-form__item {
                display: block !important;
                width: 100%;
                box-sizing: border-box;
                outline: none;
                border: 2px solid #c2c2c2;
                border-radius: 3px;
                padding: 10px 10px 9px 42px;
                background-color: #fff;
                color: #333;
                font-size: 14px;
                background-repeat: no-repeat;
                background-position: 10px center;
            }

            ._customer-widget-form__item#_customerName {
                background-image: url(/system/ckeditor_assets/pictures/238881/content_user.png);
            }

            ._customer-widget-form__item#_customerPhone {
                background-image: url(/system/ckeditor_assets/pictures/238882/content_phone.png);
            }

            ._customer-widget-form__item#_customerEmail {
                background-image: url(/system/ckeditor_assets/pictures/238883/content_mail.png);
            }

            ._customer-widget-form__item:required {
                border-color: #e31e24;
            }

            ._customer-widget-form__item::-webkit-input-placeholder {
                color: #333 !important;
            }

            ._customer-widget-form__item::-moz-placeholder {
                color: #333 !important;
            }

            ._customer-widget-form__item:-moz-placeholder {
                color: #333 !important;
            }

            ._customer-widget-form__item:-ms-input-placeholder {
                color: #333 !important;
            }

            textarea._customer-widget-form__item {
                min-height: 80px;
                resize: vertical;
                padding-left: 10px;
            }

            ._customer-button._customer-file__upload {
                height: 39px;
                border: 1px solid #f0f0f0 !important;
                padding: 0;
                padding-bottom: 2px;
                font-size: 15px;
                text-transform: none;
                transition: none !important;
                max-width: 182px;
                min-width: auto !important;
                border-radius: 3px !important;
            }

            ._customer-button._customer-file__upload:not(:hover),
            ._customer-button._customer-file__upload:disabled:hover {
                border: 1px solid #f0f0f0 !important;
                background-image: none !important;
                background-color: #f0f0f0 !important;
                box-shadow: none;
                color: #333 !important;
            }

            ._customer-button._customer-file__upload:hover {
                border: none !important;
                color: #fff !important;
            }

            ._customer-file__upload {
                margin-right: calc(20px / 2);
            }

            ._customer-file__upload img {
                display: inline-block !important;
                position: relative;
                top: 1px;
                margin-right: 10px;
            }

            ._customer-file__upload:not(:disabled):hover img {
                filter: grayscale(100) brightness(100000);
            }

            ._customer-file__upload:disabled {
                opacity: .3;
                cursor: not-allowed;
            }

            ._customer-page ._customer-widget-form__submit {
                max-width: 219px;
                min-width: auto;
                border-radius: 3px;
                background-color: #e31e24;
                border-color: #e31e24;
            }

            ._customer-button._customer-widget-form__submit:disabled {
                border-color: #333 !important;
                background-color: #333 !important;
                color: #fff !important;
                cursor: not-allowed;
                opacity: 0.3;
            }

            @media screen and (max-width: 1230px) {

                ._customer-widget-form__row {
                    flex-direction: column;
                    align-items: stretch;
                }

                ._customer-widget-form__submit {
                    max-width: 100%;
                    margin-top: 1.5em !important;
                }
            }

            @media (max-width: 550px) {
                ._customer-order {
                    padding: 40px;
                }
            }
        </style>
        <!--end Widget form-->
        <div class="_customer-section__wrapper">
            <div class="_customer-order">
                <div class="_customer-h2 _customer-order__title">Остались вопросы</div>
                <div class="_customer-order__wrapper">
                    <div class="_customer-order__form _customer-widget-form">
                        <div class="_customer-widget-form__hint">
                            <p>Поля, отмеченные звездочкой, обязательны для заполнения</p>
                        </div>
                        <div class="_customer-widget-form__row">
                            <label>
                                <input class="_customer-widget-form__item" id="_customerName" type="text" required
                                    placeholder="Имя*">
                            </label>
                            <label>
                                <input class="_customer-widget-form__item" id="_customerPhone" type="tel" required
                                    placeholder="Телефон*">
                            </label>
                            <label>
                                <input class="_customer-widget-form__item" id="_customerEmail" type="email" required
                                    placeholder="Почта*">
                            </label>
                        </div>
                        <div class="_customer-widget-form__row">
                            <label class="_customer-widget-form__textarea">
                                <textarea class="_customer-widget-form__item" id="_customerMessage"
                                    placeholder="Комментарий"></textarea>
                            </label>
                        </div>
                        <div class="_customer-widget-form__row" style="justify-content: center;">
                            <button id="_customerSubmit"
                                class="_customer-button _customer-widget-form__submit ab-order js-apress-order-button js-get-order-form"
                                data-company-contacts-url="/contacts"
                                data-company-name="Огнетушители, пожарное оборудование"
                                data-params="{&quot;company_id&quot;:&quot;135471&quot;}" data-type="message"
                                onclick="yaCounter32912625.reachGoal('megasite_page_wright_us'); return true;"
                                disabled="">Оставить заявку</button>
                            <button id="_customerFile"
                                class="_customer-button _customer-file__upload ab-order js-apress-order-button js-get-order-form"
                                data-company-contacts-url="/contacts"
                                data-company-name="Огнетушители, пожарное оборудование"
                                data-params="{&quot;company_id&quot;:&quot;135471&quot;}" data-type="message"
                                onclick="yaCounter32912625.reachGoal('megasite_page_wright_us'); return true;"
                                disabled="">
                                <img src="/system/ckeditor_assets/pictures/238880/content_upload.png" alt="">
                                <span>Загрузить</span>
                            </button>
                        </div>
                    </div>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        const _customerSubmitButton = document.querySelector("#_customerSubmit"),
                            _customerFileButton = document.querySelector('#_customerFile');
                        _customerSubmitButton.disabled = true;
                        _customerFileButton.disabled = true;
                        let _customerFinalMessage = "";

                        function _customerSendForm() {
                            if (_customerSubmitButton.disabled !== true) {
                                _customerFinalMessage =
                                    `Добрый день!\nМеня зовут ${document.querySelector("#_customerName").value}\n${document.querySelector("#_customerMessage").value}`
                            }
                        }

                        function formValidate() {
                            if (event.target.value !== "") {
                                event.target.style.borderColor = "#c2c2c2"
                            } else {
                                event.target.style.borderColor = "#e31e24"
                            }
                            _customerSubmitButton.disabled = [...document.querySelectorAll(
                                "._customer-widget-form__item:required")].filter(element => element
                                .value ===
                                "" || element.value === 0).length !== 0 ? true : false;
                            _customerFileButton.disabled = _customerSubmitButton.disabled == true ? true : false
                        }
                        document.querySelectorAll('._customer-widget-form__item:required').forEach(element => {
                            element.addEventListener('change', () => {
                                formValidate()
                            });
                            element.addEventListener('mouseout', () => {
                                formValidate()
                            })
                        });

                        function openWidget() {
                            _customerSendForm();
                            setTimeout(() => {
                                document.querySelector("#order_messages_attributes_0_text").value =
                                    _customerFinalMessage;
                                document.querySelector(".js-order-customer-phone-field") === null ?
                                    document
                                    .querySelector("#order_messages_attributes_0_text").value += '\n' +
                                    "Телефон: " + document.querySelector("#_customerPhone").value :
                                    document
                                    .querySelector(".js-order-customer-phone-field").value = document
                                    .querySelector("#_customerPhone").value;
                                document.querySelector(".js-input-email-auth") === null ? document
                                    .querySelector("#order_messages_attributes_0_text").value += '\n' +
                                    "Почта: " + document.querySelector("#_customerEmail").value :
                                    document
                                    .querySelector(".js-input-email-auth").value = document
                                    .querySelector(
                                        "#_customerEmail").value
                            }, 1000)
                        }
                        _customerSubmitButton.addEventListener('click', function (event) {
                            openWidget()
                        });
                        _customerFileButton.addEventListener('click', function (e) {
                            openWidget();
                            setTimeout(() => {
                                document.getElementById('order_').click()
                            }, 1000)
                        })
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<!--end Page-->