<div class="_customer-page">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

        .company-content__column-second-wrapper {
            padding: 0;
            border-radius: 0;
            background-color: transparent;
        }

        ._customer-page {
            font: 400 14px/1.5 'Roboto', sans-serif;
            color: #333;
        }

        ._customer-page__wrapper {
            max-width: 1147px;
            margin: 0 auto;
        }

        ._customer-select {
            display: inline-block;
            position: relative;
            font-size: 16px;
            max-width: 200px;
            width: 100%;
        }

        ._customer-select select {
            display: none;
        }

        ._customer-select__selected {
            display: flex;
            align-items: center;
            min-height: 40px;
            box-sizing: border-box;
            border: 1px solid #e7e7e7;
            border-radius: 3px;
            padding: 7px 35px 7px 15px;
            color: #101010;
            user-select: none;
            cursor: pointer;
            background-color: #fff;
        }

        ._customer-select__selected:after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8' fill='none'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%23101010' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            position: absolute;
            top: calc(50% - 12px);
            right: 15px;
        }

        ._customer-select__selected._customer-select__selected_active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        ._customer-select__selected._customer-select__selected_active:after {
            transform: scale(1, -1);
        }

        ul._customer-select__options {
            padding: 0;
            list-style: none !important;
            margin: 0 !important;
            max-height: 404px;
            overflow-y: auto;
        }

        ._customer-select__options {
            width: 100%;
            top: 100%;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
            position: absolute;
            left: 0;
            z-index: 1000;
        }

        ._customer-select__options li {
            padding: 10px 20px;
            color: #333;
            user-select: none;
            cursor: pointer;
        }

        ._customer-select__options li:not(:last-child) {
            border-bottom: 1px solid #e7e7e7;
        }

        ._customer-select__options li:hover,
        .same-as-selected {
            background-color: #E3E3E3;
        }

        ._customer-hidden {
            display: none !important;
        }
    </style>
    <div class="_customer-page__wrapper">
        <div class="_customer-section">
            <style>
                ._customer-filters {
                    display: flex;
                    justify-content: space-between;
                    background: #F1C444;
                    box-shadow: 0px 8px 16px rgba(216, 173, 50, 0.5);
                    border-radius: 8px;
                    padding: 20px 40px;
                    position: relative;
                }

                ._customer-filters__ttl {
                    font-size: 16px;
                    margin-bottom: 5px;
                    color: #101010;
                }

                ._customer-filters__select {
                    margin-bottom: 5px;
                }

                ._customer-filters__col:nth-child(1) ._customer-filters__select {
                    min-width: 189px;
                }

                ._customer-filters__col:nth-child(2) ._customer-filters__select {
                    min-width: 120px;
                }

                ._customer-filters__col:nth-child(3) ._customer-filters__select {
                    min-width: 180px;
                }

                ._customer-filters__col:nth-child(4) ._customer-filters__select {
                    min-width: 160px;
                }

                ._customer-filters__col:nth-child(5) ._customer-filters__select {
                    min-width: 110px;
                }

                ._customer-filters__col:nth-child(6) ._customer-filters__select {
                    min-width: 110px;
                }

                ._customer-filter__clear {
                    font-size: 12px;
                    font-weight: 500;
                    text-decoration: underline;
                    color: #101010;
                    cursor: pointer;
                }

                ._customer-filter__clear:hover {
                    text-decoration: none;
                }

                @media (max-width: 1023px) {
                    ._customer-filters {
                        flex-wrap: wrap;
                        justify-content: flex-start;
                    }

                    ._customer-filters__col:not(:last-child) {
                        margin-right: 10px;
                        margin-bottom: 15px;
                    }
                }
            </style>
            <div class="_customer-filters">
                <div class="_customer-filters__col">
                    <div class="_customer-filters__ttl">
                        Огнетушащий состав
                    </div>
                    <div class="_customer-filters__select _customer-select">
                        <select>
                            <option value="0">----</option>
                        </select>
                    </div>
                    <div class="_customer-filter__clear">
                        Очистить значения
                    </div>
                </div>
                <div class="_customer-filters__col">
                    <div class="_customer-filters__ttl">
                        Обозначение
                    </div>
                    <div class="_customer-filters__select _customer-select">
                        <select>
                            <option value="0">----</option>
                        </select>
                    </div>
                    <div class="_customer-filter__clear">
                        Очистить значения
                    </div>
                </div>
                <div class="_customer-filters__col">
                    <div class="_customer-filters__ttl">
                        Способ срабатывания
                    </div>
                    <div class="_customer-filters__select _customer-select">
                        <select>
                            <option value="0">----</option>
                        </select>
                    </div>
                    <div class="_customer-filter__clear">
                        Очистить значения
                    </div>
                </div>
                <div class="_customer-filters__col">
                    <div class="_customer-filters__ttl">
                        Тип устройства
                    </div>
                    <div class="_customer-filters__select _customer-select">
                        <select>
                            <option value="0">----</option>
                        </select>
                    </div>
                    <div class="_customer-filter__clear">
                        Очистить значения
                    </div>
                </div>
                <div class="_customer-filters__col">
                    <div class="_customer-filters__ttl">
                        Класс пожара
                    </div>
                    <div class="_customer-filters__select _customer-select">
                        <select>
                            <option value="0">----</option>
                        </select>
                    </div>
                    <div class="_customer-filter__clear">
                        Очистить значения
                    </div>
                </div>
                <div class="_customer-filters__col">
                    <div class="_customer-filters__ttl">
                        Страна
                    </div>
                    <div class="_customer-filters__select _customer-select">
                        <select>
                            <option value="0">----</option>
                        </select>
                    </div>
                    <div class="_customer-filter__clear">
                        Очистить значения
                    </div>
                </div>
            </div>
            <div class="_customer-catalog">
                <style>
                    ._customer-catalog__row {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        color: inherit !important;
                        text-decoration: none;
                    }

                    ._customer-catalog__row:hover ._customer-catalog__ttl {
                        text-decoration: underline;
                    }

                    ._customer-catalog__row_ttls {
                        background: #E3E3E3;
                        border-radius: 8px;
                        font-weight: 700;
                        padding: 50px 0 20px;
                        margin-top: -20px;
                    }

                    ._customer-catalog__col {
                        padding: 10px;
                        box-sizing: border-box;
                    }

                    ._customer-catalog__img {
                        width: 140px;
                        height: 140px;
                    }

                    ._customer-catalog__row_ttls ._customer-catalog__img {
                        height: 0;
                    }

                    ._customer-catalog__img img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    ._customer-catalog__ttl {
                        width: 220px;
                        font-size: 18px;
                    }

                    ._customer-catalog__class,
                    ._customer-catalog__designation,
                    ._customer-catalog__structure,
                    ._customer-catalog__method,
                    ._customer-catalog__country,
                    ._customer-catalog__type {
                        width: calc((100% - 460px) / 6);
                        position: relative;
                    }

                    ._customer-catalog__class::before,
                    ._customer-catalog__designation::before,
                    ._customer-catalog__structure::before,
                    ._customer-catalog__method::before,
                    ._customer-catalog__country::before,
                    ._customer-catalog__type::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: calc(100% - 20px);
                        width: 1px;
                        background-color: #e3e3e3;
                    }

                    @media (max-width: 1200px) {
                        ._customer-catalog__img {
                            display: none;
                        }

                        ._customer-catalog__ttl {
                            font-size: 14px;
                        }

                        ._customer-catalog__col {
                            width: calc((100% - 60px) / 7) !important;
                        }
                    }

                    @media (max-width: 890px) {
                        ._customer-catalog__row {
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            border-bottom: 1px solid #e3e3e3;
                        }

                        ._customer-catalog__col {
                            width: 120px !important;
                        }

                        ._customer-catalog__col:not(:last-child) {
                            margin-bottom: 15px;
                        }
                    }
                </style>
                <div class="_customer-catalog__row _customer-catalog__row_ttls">
                    <div class="_customer-catalog__col _customer-catalog__img">

                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">

                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        Класс пожара
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        Обозначение
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        Огнетушащий состав
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        Способ срабатывания
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Страна-производитель
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        Тип устройства
                    </div>
                </div>
                <a class="_customer-catalog__row" href="/goods/3985042">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/796/621_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель воздушно-пенный ОВП-50
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОВП-50
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        воздушно-пенный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        передвижной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3076590">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/796/623_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель воздушно-пенный ОВП-8 заряженный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОВП-8
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        воздушно-пенный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/75239077">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/795/703_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель воздушно-пенный ОВП-80 (з)
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        B
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОВП-80
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        воздушно-пенный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        передвижной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/4909705">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/797/482_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель ранцевый РП-18-Ермак (М)
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">

                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        РП-18
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        ранцевый
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/4065266">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/797/207_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП-70
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-70
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        передвижной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3077558">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/796/673_original.png" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель ОУ-5 углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        C
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-5
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/61672459">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st27.stpulscen.ru/images/product/104/076/033_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП-50(з)
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-50
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        передвижной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3077156">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/797/434_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП - 4(з) АВСЕ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        E
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-4з
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/75239071">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/795/703_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП 100 (з) АВСЕ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        C
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-100
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        передвижной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3077407">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st34.stpulscen.ru/images/product/010/168/532_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель углекислотный ОУ 25
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        B
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-25
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/79663610">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st27.stpulscen.ru/images/product/131/807/755_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП-50
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-50
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        передвижной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3077554">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st34.stpulscen.ru/images/product/010/160/983_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель углекислотный ОУ -50, ОУ-55 по старому ГОСТУ ОУ-80
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        B
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-80
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3077555">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st34.stpulscen.ru/images/product/010/163/141_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель углекислотный ОУ 1
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        C
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-1
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3077408">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st34.stpulscen.ru/images/product/010/164/224_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель углекислотный ОУ-7 с тележкой
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        C
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-7
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/4159493">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st34.stpulscen.ru/images/product/010/168/532_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель углекислотный ОУ-15
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        B
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-15
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3077556">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st34.stpulscen.ru/images/product/010/163/141_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель углекислотный ОУ 2
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        E
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-2
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/67816898">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st14.stpulscen.ru/images/product/113/867/369_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель углекислотный ОУ -50 старому ГОСТУ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        C
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-50
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        передвижной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/4279327">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st34.stpulscen.ru/images/product/010/162/477_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель углекислотный ОУ-10 на тележке
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        C
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-10
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        передвижной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/48306918">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st17.stpulscen.ru/images/product/082/043/160_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель углекислотный ОУ 7
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        E
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-7
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/67816952">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st14.stpulscen.ru/images/product/113/867/369_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель углекислотный ОУ-55 по старому ГОСТУ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        B
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-55
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        передвижной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/75239075">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/796/246_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель углекислотный ОУ- 7 с тележкой
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        C
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-7
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/9269914">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/797/484_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель ранцевый РЛО (пульт пластик)
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">

                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        РЛО-К
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        водный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        ранцевый
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/9269927">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/797/505_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель ранцевый РП-15-Ермак (П)
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        C
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        РП-15
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        ранцевый
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/75239080">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/795/578_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель ранцевый РЛО (гидронасос)
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">

                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        РЛО-М
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        водный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        ранцевый
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/75239079">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st4.stpulscen.ru/images/product/140/465/554_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель ранцевый РЛО (металлический пульт)
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">

                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        РЛО-М
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        водный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        автоматический
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        ранцевый
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3076592">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/796/480_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель воздушно-пенный ОВП-100 в компл. с зарядом
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОВП-100
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        воздушно-пенный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        передвижной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/4044072">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st27.stpulscen.ru/images/product/104/082/330_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель воздушно-пенный ОВП-10
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОВП-10
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        воздушно-пенный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/75239076">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/795/703_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель воздушно-пенный ОВП-40 (з)
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        C
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОВП-40
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        воздушно-пенный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">

                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/48350">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/797/428_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП - 2 (з) АВСЕ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-2з
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3077158">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/797/435_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП - 5(з) АВСЕ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-5з
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/5427558">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/797/451_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП-8 (з) АВСЕ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-8
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/48353">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/797/432_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП - 6 (з) АВСЕ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        B
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-6
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3077157">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/797/426_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП - 4(г) АВСЕ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        C
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-4
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3077159">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/797/438_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП - 8(г) АВСЕ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-8
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3077081">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/797/424_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП-3 (з) АВСЕ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-3
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">

                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/4178683">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st27.stpulscen.ru/images/product/131/807/755_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП-35
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-35
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        передвижной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/75239070">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st1.stpulscen.ru/images/product/211/796/245_original.jpg" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель порошковый ОП-10(з) АВСЕ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        B
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОП-10
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/173647660">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st21.stpulscen.ru/images/product/320/123/310_original.png" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Устройство порошкового пожаротушения автономное АУПП "ТАБ"
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        A
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОТВ
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        порошковый
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        автоматический
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
                <a class="_customer-catalog__row" href="/goods/3077557">
                    <div class="_customer-catalog__col _customer-catalog__img">
                        <img src="https://st34.stpulscen.ru/images/product/010/160/686_original.gif" />
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__ttl">
                        Огнетушитель углекислотный ОУ 3
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__class">
                        B
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__designation">
                        ОУ-3
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__structure">
                        углекислотный
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__method">
                        ручной
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__country">
                        Россия
                    </div>
                    <div class="_customer-catalog__col _customer-catalog__type">
                        переносной
                    </div>
                </a>
            </div>
        </div>
    </div>
    <script>
        const catalogItems = document.querySelectorAll('._customer-catalog__row:not(._customer-catalog__row_ttls)');
        let catalogItemsArray = [],
            catalogItem,
            catalogItemArray = [],
            catalogItemChar,
            char1 = new Set(),
            char1Wrapper = document.querySelector('._customer-filters__col:nth-child(5) select'),
            char2 = new Set(),
            char2Wrapper = document.querySelector('._customer-filters__col:nth-child(2) select'),
            char3 = new Set(),
            char3Wrapper = document.querySelector('._customer-filters__col:nth-child(1) select'),
            char4 = new Set(),
            char4Wrapper = document.querySelector('._customer-filters__col:nth-child(3) select'),
            char5 = new Set(),
            char5Wrapper = document.querySelector('._customer-filters__col:nth-child(6) select'),
            char6 = new Set(),
            char6Wrapper = document.querySelector('._customer-filters__col:nth-child(4) select'),
            allChar = document.querySelectorAll('._customer-filters__select');

        for (let k = 0; k < catalogItems.length; k++) {
            catalogItem = catalogItems[k];
            catalogItemArray = [];
            catalogItemChar = catalogItem.querySelectorAll('._customer-catalog__col');
            for (let l = 0; l < catalogItemChar.length; l++) {
                catalogItemArray.push(catalogItemChar[l].textContent.replace(/\s+/g, " ").trim());
            }

            catalogItemsArray.push(catalogItemArray);
        }
        for (let k = 0; k < catalogItemsArray.length; k++) {
            if (catalogItemsArray[k][2] != '') {
                char1.add(catalogItemsArray[k][2]);
            }
            if (catalogItemsArray[k][3] != '') {
                char2.add(catalogItemsArray[k][3]);
            }
            if (catalogItemsArray[k][4] != '') {
                char3.add(catalogItemsArray[k][4]);
            }
            if (catalogItemsArray[k][5] != '') {
                char4.add(catalogItemsArray[k][5]);
            }
            if (catalogItemsArray[k][6] != '') {
                char5.add(catalogItemsArray[k][6]);
            }
            if (catalogItemsArray[k][7] != '') {
                char6.add(catalogItemsArray[k][7]);
            }
        }
        for (char of char1) {
            let charItem = document.createElement('option');
            charItem.innerHTML = char;
            charItem.setAttribute('value', char);
            char1Wrapper.append(charItem)
        }
        for (char of char2) {
            let charItem = document.createElement('option');
            charItem.innerHTML = char;
            charItem.setAttribute('value', char);
            char2Wrapper.append(charItem)
        }
        for (char of char3) {
            let charItem = document.createElement('option');
            charItem.innerHTML = char;
            charItem.setAttribute('value', char);
            char3Wrapper.append(charItem)
        }
        for (char of char4) {
            let charItem = document.createElement('option');
            charItem.innerHTML = char;
            charItem.setAttribute('value', char);
            char4Wrapper.append(charItem)
        }
        for (char of char5) {
            let charItem = document.createElement('option');
            charItem.innerHTML = char;
            charItem.setAttribute('value', char);
            char5Wrapper.append(charItem)
        }
        for (char of char6) {
            let charItem = document.createElement('option');
            charItem.innerHTML = char;
            charItem.setAttribute('value', char);
            char6Wrapper.append(charItem)
        }

        var x, i, j, selElmnt, a, b, c;
        x = document.getElementsByClassName('_customer-select');
        for (i = 0; i < x.length; i++) {
            selElmnt = x[i].getElementsByTagName('select')[0];
            a = document.createElement('div');
            a.setAttribute('class', '_customer-select__selected');
            a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
            x[i].appendChild(a);
            b = document.createElement('ul');
            b.setAttribute("class", "_customer-select__options _customer-hidden");
            for (j = 1; j < selElmnt.length; j++) {
                c = document.createElement('li');
                c.innerHTML = selElmnt.options[j].innerHTML;
                c.addEventListener("click", function (e) {
                    var y, i, k, s, h;
                    s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    h = this.parentNode.previousSibling;
                    for (i = 0; i < s.length; i++) {
                        if (s.options[i].innerHTML == this.innerHTML) {
                            s.selectedIndex = i;
                            h.innerHTML = this.innerHTML;
                            y = this.parentNode.getElementsByClassName("same-as-selected");
                            for (k = 0; k < y.length; k++) {
                                y[k].removeAttribute("class");
                            }
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }
                    h.click();
                });
                b.appendChild(c);
            }
            x[i].appendChild(b);
            a.addEventListener("click", function (e) {
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("_customer-hidden");
                this.classList.toggle("_customer-select__selected_active");
            });
        }

        function closeAllSelect(elmnt) {
            var x, y, i, arrNo = [];
            x = document.getElementsByClassName("_customer-select__options");
            y = document.getElementsByClassName("_customer-select__selected");
            for (i = 0; i < y.length; i++) {
                if (elmnt == y[i]) {
                    arrNo.push(i)
                } else {
                    y[i].classList.remove("_customer-select__selected_active");
                }
            }
            for (i = 0; i < x.length; i++) {
                if (arrNo.indexOf(i)) {
                    x[i].classList.add("_customer-hidden");
                }
            }
        }
        document.addEventListener("click", closeAllSelect);

        let charActiveArray = [],
        indexArray = [4, 3, 5, 7, 2, 6],
        charResult = '';
        allChar.forEach(char => {
            char.addEventListener("click", () => {
                charActiveArray = [];
                for (let k = 0; k < allChar.length; k++) {
                    let charSelect = allChar[k].querySelector('select'),
                    charActive = charSelect.options[charSelect.selectedIndex].getAttribute('value');
                    charActiveArray.push(charActive);
                }
                for (let l = 0; l < catalogItemsArray.length; l++) {
                    charResult = '';
                    for (let k = 0; k < charActiveArray.length; k++) {
                        if (catalogItemsArray[l][indexArray[k]] == charActiveArray[k] || charActiveArray[k] == 0 || catalogItemsArray[l][indexArray[k]] == '') {
                            charResult += '1';
                        } else charResult += '0';
                    }
                    if (charResult != '111111') {
                        catalogItems[l].classList.add('_customer-hidden');
                    } else catalogItems[l].classList.remove('_customer-hidden');
                }
            });
        });

        const clrearAll = document.querySelectorAll('._customer-filter__clear');

        for (let k = 0; k < clrearAll.length; k++) {
            clrearAll[k].addEventListener('click', () => {
                allChar[k].querySelector('select').selectedIndex = 0;
                allChar[k].querySelector('._customer-select__selected').innerHTML = '----';
                for (optionsItem of allChar[k].querySelectorAll('._customer-select__options>li')) {
                    optionsItem.classList.remove('same-as-selected');
                }
                allChar[k].click();
            })
        }
    </script>
</div>